<div class="row">
  <div class="card card-course">
    <tr>
      <td><h4><%= course.name %></h4></td>
      <td><p><%= course.description %></p></td>
      <td><%= course.created_at %></td>
      <td><%= course.updated_at %></td>
      <td><%= link_to 'Show', course %></td>
      <td><%= link_to 'Edit', edit_course_path(course) %></td>
      <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </div>
</div>
